[submodule "brainfuck-benchmark"]
	path = brainfuck-benchmark
	url = https://github.com/cwfitzgerald/brainfuck-benchmark.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
